@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.logo{
  width: 200px;
  padding: 10px;
  border-radius: 20px;
}

ul{
  display: flex;
  gap: 10px;
}

li{
  display: inline-block;
  padding: 8px 15px;
}

a{
  color: #fff;
  text-decoration: none;
  transition: all .5s;
}

a:hover{
  color: #0ef;
}

/* #ins-btn{
  border: 2px solid #0ef;
  border-radius: 15px;
  padding: 10px;
}

#ins-btn:hover{
  color: #fff;
  background-color: #0ef;
} */

h1{
  font-weight: 200;
}

main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  border: 1px solid red;
}

h2{
  font-size: 34px;
  line-height: 38px;
  font-family: 'Poppinsmedium' sans-serif;
  max-width: 30ch;
}

span{
  color: #0ef;
}

p{
  font-size: 18px;
  line-height: 25px;
  max-width: 600px;
  font-family: 'Poppinslight';
  margin-bottom: 25px;
}

article img{
  width: 400px;
  border-radius: 50% 10%;
  box-shadow: 0 0px 20px 0 #0ef;
}

article .img-home{
	animation: floatImageY 3s ease-in-out infinite;
}

@keyframes floatImageY {
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-2.4rem);
	}
	100%{
		transform: translateY(0);
	}
}

.contact-us{
  padding: 10px;
  border: 1px solid #0ef;
  border-radius: 20px;
  color: #0ef;
  box-shadow: 0 0 10px 0 #0ef;
}

.contact-us:hover{
  background-color: #0ef;
  color: #eee;
  box-shadow: 0 0 10px 0 #eee;
  border: 1px solid transparent;
}

/* form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"]{
  width: 50%;
  height: 50px;
  background-color: rgb(132, 13, 201);
  color: white;
  font-weight: bold;
}
form [type="submit"]:hover{
  cursor: pointer;
}

input{
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  outline: none;
}*/